@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size:20px;
    font-family:gowun-dodum, sans-serif;
    color:#141514;
}

.warpper{
    position:relative;
    width:100%;

}


@media (min-width:769px){
    html{
        font-size: 1vw;
    }
    .mobile_title_BG, .menuLogo,.mobile_button,.mobile_button2,.fixed{
        display:none;
    }
    .pc_hidden{
        display:none;
    }
    .pc_title_BG{
        position:absolute;
        bottom:0%;
        left:50%;
        z-index:-1;
        transform:translate(-50%,0%);
        background-size:contain;
        display:block;
        min-width:2560px;
        width:100%;


    
    }
    .accordianWarp{
        position: relative;
        z-index: 2;
    }
    .accordian>li{
        display:inline-block;
        color:#fff;
        position:absolute;
        height:32px;
    }
    .title_logo{
        position:absolute;
        top:6px;
        left:30px;
        z-index:4;
        height:60px;
        cursor:pointer;

    }
    .head_Box{
        position:fixed;
        width:100%;
        height:75px;
        display:none;
        z-index: 1;
    }
    .menu{
        position:relative;
        height:500px;
        width:100%;
        overflow:hidden ;     
    }
    .menuhead{
        position:relative;

    }
    .main{

        position:relative;
        height:500px;
        width:100%;
        overflow:hidden;
        
    }
    .fixed{
        display:none;
    }

    .box1{
        position:absolute;
        top:0.7rem;
        right:1rem;
        z-index: 3;
        width:8rem;
        height:1px;
        background-color:#eee;
        opacity: 65%;

    }
    .box2{
        position:absolute;
        top:0.7rem;
        left:1rem;
        z-index: 3;
        width:8rem;
        height:1px;
        background-color:#eee;
        opacity: 65%;

        
    }
    .box3{
        width:7rem;
        height:0.2rem;
        min-height:4px;
        background-color: #92d081;
        margin: 3rem auto 3rem;
        opacity:90%;
    }
    .latter{
        position:absolute;
        width:100%;
        z-index:3;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align:center;
        color:  #fff !important;
 
        
    }
    .latter1{
  
        position:relative;
        font-size:1.5rem;
        font-family: kandin, sans-serif;
        font-weight: 200;
        font-style: normal;
        left:50%;
        transform: translate(-50%,0);
        letter-spacing: 0.06rem;
        color:#eee;
        width:50rem;
     
       }
    .latter2{

        margin-top:2rem;
        font-size:4.5rem;
        font-family: romana-tw, serif;
        color:#fff;
        line-height: 5rem;
        position:relative;

    }
    .latter3{
        position:relative;
  
        font-size:2rem;
        font-family: gowun-dodum, sans-serif;
        line-height:3rem;
        width:40rem;
        left:50%;
        transform: translate(-50%,0);

        
    }
    .sublatter3-1{
        position:absolute;
        left:0%;
    }
    .sublatter3-2{
        position:absolute;
        right:0%;
    }
 
    .icons{
        position:absolute;
        top:16px;
        right:30px;
        z-index: 2;
        background-size:cover;
        height:2.5rem;
        width:12rem;
        min-width:140px;
        max-width:200px;
        text-align: center;
        

    }
    .main_bottom>a>img{
        height:20px;
        margin:10px 0;
        top:0px;
        position:absolute;
        
    }
    .main_bottom{
        height:100%;
        width:100%;
        position:relative;
        top:0;
        left:0;
    }
    .youtube{
        position:absolute;
        left:14px;
    }
    .instagram{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
    }
    .facebook{
        position:absolute;
        right:14px;
    }

    .green2{
        display:none;
    }
    .menu1,.menu4{
        cursor:pointer;
        font-size:16px;
        top:8px;
        position:absolute;
    
        width: 120px;
        color:#fff;
        display:inline-block;
  
    }
    .info{
        top:21px;
        left:200px;
    }
    .leisure{
        top:21px;
        left:320px;
    }
    .market{
        top:21px;
        left:440px;
    }
    .social2{
        top:21px;
        left:560px;
    }

    .pc_size1{
        position:absolute;
        top:1px;
        right:50%;
        width:14px;
        opacity:85%;
        margin-right:-45px;
    }
    .short2{
        right:50%;
        margin-right:-33px;
    }


    .size1{
        display:none;
    }
    .size3{
        display:none;
    }
    .size2{
        display:none;

    }

    .menu2{
        display:block;
        background-color: #ffffff20;
        position:relative;
        top:-11px;
        border:1px solid white;
        box-sizing:border-box;
        display:none;
        border-radius: 0 0 5px 5px;
        overflow:hidden ;
        
    }
    .menuBox{
        padding:6px 10px;
        width:120px;
        text-align: center;
        position:relative;
        font-size: 16px;
        height:32px;
        top:-8px;
        box-sizing: border-box;
        transition: color,background-color 0.3s linear;

        
        
    }
    .menu2>a>li{
        transition: color, background-color 0.3s linear;
        color:#ffffff;
        text-align: center;
        padding:7px 0px;
        width:100%;
        display:inline-block;
        font-size:14px;
    }
    .menu2>a>li:hover{
        color:#92d081;
        background-color:#ffffff50;
    }
    .menu2>a{
        display:inline-block;
        width:100%;
    }
    .green{
        display:none;
        position:relative;
        z-index: 10;
    }
    .sub{
        padding:20px 0 0;
        width:100%;
        position:relative;
        overflow:hidden;

        
    }
    .sub2{
        position:relative;
        overflow: hidden;
    }

    .content_Warp{
        position:relative;

        overflow:hidden;
    }
    .test2{
        position:relative;
        overflow: hidden;
    }
    .sub_texture{
        position:absolute;
        z-index: -5;
        top:0;
        left:0;
        width:100%;
        opacity: 70%;
    }
    .sub_textBox{
        padding:80px 20px;
        background-color: #fff;
        text-align: center;
        margin:15px 0 30px;
    }
    .mainWarp{
        overflow:hidden;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        height:500px;

    }
    .main_text{
        top:50%;
        left:50%;
        transform:translate(-50%,0);
        font-family: ChosunCentennial;
        display:inline-block;
        position:relative;
        z-index: 100;
        font-size:40px;
        color:#fff;

    }
    .sub_text{
        width:88.5%;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
    }
    .sub_title2{
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        font-size:24px;
        color:#92d081;
        margin-bottom:40px;
    }
    .sub_text>.M_hidden{
        position:relative;
        right:50%;
        transform:translate(50%,0);
        font-size: 18px;
        line-height: 25px;
    }
    .farm1{
        position:relative;
        height:600px;
        overflow:hidden;
        margin:30px 0;
    }
    .farming1{
        position:absolute;
        bottom:0%;
        left:50%;
        z-index:-1;
        transform:translate(-50%,0%);
        background-size:contain;
        min-width: 2560px;
        width:100%;
    }
    .farm1>.fSub_title{
        font-size: 40px;
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:35%;
        font-family:ChosunCentennial ;
    }
    .farm1>.box4{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        width:6rem;
        height:2px;
        background-color:#ecebe8;
        display:inline-block;
        top:50%;
        opacity:70%;
        
    }
    .farm1>.fParagraph{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:60%;
        font-size:20px;
    }
    .farm1>.fParagraph2{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:68%;
        font-size:20px;
    }
    
    .farm2{
        position:relative;
        height:600px;
        overflow:hidden;
        margin-bottom:30px;
    }
    .farming2{
        position:absolute;
        bottom:0%;
        left:50%;
        z-index:-1;
        transform:translate(-50%,0%);
        background-size:contain;
        width:100%;
        min-width: 2560px;

    }
    .farm2>.fSub_title{
        font-size: 40px;
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:35%;
        font-family:ChosunCentennial ;
    }
    .farm2>.box4{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        width:6rem;
        height:2px;
        background-color:#ecebe8;
        display:inline-block;
        top:50%;
        opacity:70%;
        
    }
    .farm2>.fParagraph{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:60%;
        font-size:20px;
    }
    .farm2>.fParagraph2{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:68%;
        font-size:20px;
    }
    .filter{
        display:none;
    }

    .farm3{
        position:relative;
        height:600px;
        overflow:hidden;
        margin-bottom:30px;
    }
    .farming3{
        position:absolute;
        bottom:0%;
        left:50%;
        z-index:-1;
        transform:translate(-50%,0%);
        background-size:contain;
        width:100%;
        min-width: 2560px;

    }
    .farm3>.fSub_title{
        font-size: 40px;
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:35%;
        font-family:ChosunCentennial ;
    }
    .farm3>.box4{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        width:6rem;
        height:2px;
        background-color:#ecebe8;
        display:inline-block;
        top:50%;
        opacity:70%;
        
    }
    .farm3>.fParagraph{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:60%;
        font-size:20px;
    }
    .farm3>.fParagraph2{
        position:absolute;
        left:50%;
        transform: translate(-50%,0);
        top:68%;
        font-size:20px;
    }
    .footer{
        background-color:#efefef;
        text-align: center;
        width:100%;
        height:200px;
        position:relative;
        z-index: 4;
    }
    .footerlogo{
        position:absolute;
        left:8.3%;
        top:50%;
        transform: translate(0%,-50%);
        width:200px;
        margin-left:-25px;
    }
    .footerfont{
        width:660px;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size:14px;
        text-align: left;
        line-height: 20px;
    }
    .box5{
        width:1px;
        height:10px;
        background-color:#141514;
        z-index: 3;
        display:inline-block;
        margin:0 8px;
        position:relative;
        top:-5px;
    }
    .social_bottom{
        position: absolute;
        top:50%;
        right:8.3%;
        transform: translate(0%,-50%);
        width:300px;
        height:100px;
        margin-right:-75px;
        box-sizing: content-box;

    }
    .social_bottom>a>img{
        width:30px;
    }
    .youtube2{
        position:absolute;
        left:20%;
        top:50%;
        transform: translate(0,-50%);
        
    }
    .instagram2{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .facebook2{
        position:absolute;
        right:20%;
        top:50%;
        transform: translate(0,-50%);
    }
    .menu_top{
        position:fixed;
    }
    .contentBox{
        position:relative;
        width:100%;
        overflow:hidden;
        background-color: #fff;
        text-align: center;
        padding:50px 0;
        margin:50px 0;
        box-sizing: content-box;


    }
    .mapBoxWarp{
        position:relative;
        width:100%;
        height:930px;
        margin-top:60px;



    }

    
    .mapBox1{
        position:absolute;
        overflow:hidden;
        top:5rem;
        border-radius:20px;
        width:83.4%;
        left:50%;
        transform:translate(-50%,0);
        z-index: 0;
        height:800;
        border:2px solid #14151410;
        box-sizing:content-box;
    }
    .mapBox2{
        position:absolute;
        overflow:hidden;
        top:5rem;
        border-radius:20px;
        width:83.4%;
        left:50%;
        transform:translate(-50%,0);
        height:800;
        border:2px solid #14151410;
        z-index: -1;
        box-sizing:content-box;
    }

    .underBar{
        text-align:center;
        position:relative;
        font-size:30px;
        width:83.4%;
        left:50%;
        transform:translate(-50%,0);
        margin-bottom: 30px;
    }
    .space{
        display:inline-block;
        width:20px;
    }
    
    .sub_object1{
        padding-top:10px;
        padding-bottom:30px;
        top:0;
        color:#141514;
        position:absolute;
        font-size:22px;

        display:inline-block;
        width:33.3%;
        right:50%;
        z-index: 2;
        cursor:pointer;
        margin-bottom:50px;
        transition:all 0.5s;
    }
    .sub_object2{
        padding-top:10px;
        padding-bottom:30px;
        top:0;
        color:#5d555180;
        position:absolute;
        font-size:22px;

        display:inline-block;
        width:33.3%;
        left:50%;
        z-index: 1;
        cursor:pointer;
        transition:all 0.5s;
        margin-bottom:50px;
    }
    .sub_object_underbar{
        position:absolute;
        transition:all 0.5s;
        width:33.3%;
        right:50%;
        display:inline-block;
        height:64px;
        top:0;
        border-bottom:3px solid #92d081;
        z-index:0 ;
        transition:all 0.5s;
    }
    .sub_object_underbar2{
        position:absolute;
        transition:all 0.5s;
        width:100%;
        left:0;
        display:inline-block;
        height:63px;
        top:0;
        border-bottom:1px solid #5d555180;
        z-index:-1 ;
    }
    .iframe{
        height:800px;
    }
    .farmWarp{
        width:100%;
    }
    .farminfo1{
        width:83.4%;
        z-index: 1;
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
    }
    .farminfo2{
        width:83.4%;
        z-index:0;
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
    }
    .information1{
        position:relative;
        width:100%;
        left:50%;
        transform:translate(-50%,0);
        font-size:20px;
        

    }
    .information2{
        position:relative;
        width:100%;
        left:50%;
        transform:translate(-50%,0);
        font-size:20px;
        

    }
    tr{
        vertical-align: middle;  
    }
    td{
        vertical-align: middle;  
    }
    td:first-child{
        width:20%;
        background-color: #efefef;

        line-height:37px;
        text-align: center;
        border-top:1px solid #ddd;
        border-right:1px solid #ddd;
        font-size:17px;
        padding:2px 0;
    }
    tr:last-child{
        
        border-bottom:1px solid #ddd;

        line-height:37px;
    }
    td:nth-child(2){
        width:80%;
     
        line-height:37px;
        padding:2px 0 2px 20px;
        border-top:1px solid #ddd;
        background-color: #fff;
        font-size:17px;
    }
    tr:nth-child(4)>td:first-child{
        line-height:37px;
    }
    tr:nth-child(4)>td:last-child{
        line-height:37px;
        padding:2px 0 2px 20px;
          
    }
    tr:nth-child(5)>td:last-child{
        line-height:37px;
        padding:2px 0 2px 20px;

          
    }
    .contentBox2{
        background-color: #fff;
        position:relative;
        width:100%;
        overflow:hidden;
        text-align: center;
        margin:50px 0;
        padding:50px 0;
        box-sizing: content-box;

    }
    .contentBox3{
        background-color: #fff;
        position:relative;
        width:100%;
        overflow:hidden;
        text-align: center;
        margin:50px 0;
        padding:50px 0;
        box-sizing: content-box;

    }
    .contentSubTitle{
        font-size:25px;
        color:#92d081;
        padding-bottom:50px;
        border-bottom:1px solid #14151440;
        width:83.4%;
        position:relative;
        left:50%;
        transform: translate(-50%,0);

    }
    .imgwarp{
        position:absolute;
        overflow:hidden;
        width:41.7%;
        top:0;
        left:8.3%;
        margin:50px 0;
    }
    .contentArea{
        position:relative;
        width:100%;
        height:750px;
    }
    .pc_img{
        position:relative;
        height:100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        object-fit:cover;
        
    }
    .intro_img1{
        position:relative;
        height:100%;
        bottom:0;
        left:50%;
        transform:translate(-50%,0);
        object-fit:cover;
    }
    .intro_img2{
        position:relative;
        height:100%;
        bottom:0;
        left:50%;
        transform:translate(-50%,0);
        object-fit:cover;
    }
    .textWarp{
        position:absolute;
        top:0;
        right:8.3%;
        width:33.4%;
        margin:50px 0;
        overflow:hidden;
    }
    .M_hidden>p{
        font-size: 17px;
        text-align:left;
    }
    .contentText{
        position: relative;
        padding:50px 0;
    }
    .textWarp>.M_hidden>p{
        line-height:27px;
        margin:20px 0;
    }
    .textWarp>.M_hidden>p:first-child{
        line-height:27px;
        margin-top:0px;
    }
    .list{
        font-size:17px;
        text-align: left;
        line-height:20px;
    }
    .list>li{
        margin:10px 0;
    }
    .underBar2{
        font-size:17px;
        text-align: left;
        line-height:20px;
        padding-bottom:50px;
        margin-bottom:50px;
        border-bottom:1px solid #14151440;
        width:100%;
        position:relative;
        left:50%;
        transform: translate(-50%,0);
    }
    .list2>li:first-child{
        margin-top:20px;
    }
    .list_text{
        font-size: 17px;
        text-align:left;
        margin-bottom:20px;
    }
    .table2{
        width:100%;
    }
    .first_child{
        width:30% !important;
    }
    .last_child{
        width:70% !important;
        text-indent: 0 !important;
        text-align: center !important;
    }
    .intro_warp1{
        overflow: hidden;
        height:600px;
        position:relative;
        border-bottom:1px solid #14151440;
        width:83.4%;
        position:relative;
        left:50%;
        transform: translate(-50%,0);
        padding-bottom:50px;
        box-sizing: content-box;
    }
    .intro_Text{
        font-size:17px
    }
    .intro_Text_1{
        position:absolute;
        top:50%;
        transform:translate(0,-50%);
        right:8.3%;
        width:33.4%;
        overflow:hidden;
        line-height: 27px;
    }
    .imgwarp2{
        position:absolute;
        overflow:hidden;
        width:33.4%;
        top:0;
        left:8.3%;
        margin:50px 0;
        height:500px;
    }
    .intro_warp2{
        position:relative;
        overflow: hidden;
        height:600px;
        box-sizing: content-box;

    }
    .intro_underBar{
        position: relative;
        border-bottom:1px solid #14151440;
        width:83.4%;
        left:50%;
        transform:translate(-50%,0);
        padding-bottom:50px;
    }
    .intro_warp3{
        position:relative;
        overflow: hidden;
        height:600px;
        margin-top:50px;
        box-sizing: content-box;
    }
    .imgwarp3{
        position:absolute;
        overflow:hidden;
        width:33.4%;
        top:0;
        right:8.3%;
        margin:50px 0;
        height:500px;

    }
    .intro_Text_Warp{
        position:absolute;
        top:50%;
        transform:translate(0,-50%);
        left:8.3%;
        width:33.4%;
        overflow:hidden;
    }
    .intro_Text_2{
        margin-bottom:20px;
        line-height: 27px;
    }
    
    .intro_animation1,.intro_animation2,.intro_animation3{
        opacity: 0;
        margin-top:-20px;
    }
    .intro_Text_3{
        margin-bottom:20px;
        line-height: 27px;
    }
    .honey_animation1,.honey_animation2{
        opacity: 0;
        margin-top:-20px;
    }
    .map_animation1{
        opacity: 0;
        margin-top:-20px;
    }
}

@media (max-width:768px){
    *{
        color:#141514;
    }
    .pc_size1{
        display:none;
    }
    .M_hidden{
        display:none;
    }
    html{
        font-size:20px;
        font-family:gowun-dodum, sans-serif;
    }
    .main{
        
        position:relative;
        height:10rem;
        width:100%;
        overflow:hidden ;
        

    }

    .mobile_title_BG{
        position:absolute;
        top:50%;
        left:50%;
        z-index:1;
        transform:translate(-50%,-50%);
        height:100%;
        width:100%;

    }
    .mainWarp{
        position:relative;
        overflow: hidden;
        width:100%;
        min-height:200px;
    }
    .mobile_title_BG2{
        display:block;
        position:absolute;
        bottom:0%;
        left:50%;
        z-index:-1;
        transform:translate(-50%,0);
        background-size:contain;
        width:768px;

    }
    .title_logo{
        position:absolute;
        top:0.8rem;
        left:1rem;
        z-index:4;
        height:2.2rem;
        cursor:pointer;

    }
    .mobile_button{
        position:absolute;
        top:1.0rem;
        right:1rem;
        z-index:2;
        height:1.5rem;
        cursor:pointer;
    }
    .fixed{
        position:fixed;
        top:0.6rem;
        right:0.6rem;
        height:1.5rem;
        cursor:pointer;
        border:8px solid #92d081;
        background-color: #92d081;
        border-radius:5px;
        box-sizing: content-box;
        z-index: 5;
        display:none;
    }
    .latter{
        position:absolute;
        width:100%;
        z-index:3;
        top:25%;
        left:50%;
        transform: translate(-50%,0);
        text-align:center;
        color:#fff;
    }
    .box1{
        position:absolute;
        top:0.35rem;
        right:2.6rem;
        z-index: 2;
        width:1.5rem;
        height:1px;
        background-color:#fff;
        opacity: 65%;

    }
    .box2{
        position:absolute;
        top:0.35rem;
        left:2.6rem;
        z-index: 2;
        width:1.5rem;
        height:1px;
        background-color:#fff;
        opacity: 65%;

    }
    .latter1{
        position:relative;
        opacity: 85%;
        font-size:0.7rem;
        font-family: kandin, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-weight:200;
        width:22rem;
        left:50%;
        transform: translate(-50%,0);
        letter-spacing: 0.06rem;
    }
    .latter2{
        margin-top:8%;
        font-size:1.8rem;
        font-family: romana-tw, serif;
    }

    .sublatter2-2{
        margin-top:5%;
    }
    .box3{
        width:5rem;
        height:0.09rem;
        background-color: #92d081;
        margin: 7% auto 7%;
        opacity:90%;
    }
    .latter3{
        opacity: 90%;
        font-size:1.1rem;
        font-family: gowun-dodum, sans-serif;
    }
    .sublatter3-2{
        margin-top: 3%;
    }
    .icons{
        position:absolute;
        bottom:10%;
        z-index: 2;
        background-size:cover;
        height:3rem;
        width:100%;

    }
    .main_bottom{
        height:100%;
        width:100%;
        position:relative;
        opacity:90%;
    }
    .youtube{
        position:absolute;
        left:20%;
        width:1.75rem;
    }
    .facebook{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        width:1.75rem;
    }
    .instagram{
        position:absolute;
        right:20%;
        width:1.75rem;
    }
    .sub2{
        position:relative;
        overflow: hidden;
    }
    .sub3{
            position:relative;
            overflow: hidden;
    }

    .pc_hidden>p{
        width:93%;
        position:relative;
        left:50%;
        transform: translate(-50%,0);
    }
    .contentInfoHoney{
        margin-top:1rem;
    }
    .imgwarp{
        border-radius: 20px;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        overflow:hidden;
        width:93%;

    }
    .img1, .img2{
        border-radius: 20px;
        width:100%;
        margin-bottom:2rem;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
    }
    
    .sub_texture{
        position:absolute;
        z-index: -3;
        opacity: 50%;  
    }
    .sub_title{
        font-size:1.6rem;
        text-align:center;
        color:#92d081;
        font-family: ChosunCentennial;
        line-height: 1.5em;
        position:relative;
        z-index: 3;
        top:0;
        display:inline-block;
        margin:1.8rem 0 1.8rem;
        left:50%;
        transform:translate(-50%,0);

    }
    .sub_text{
        width:78%;
        margin:0 auto;
        font-size:0.8rem;
        line-height: 1.3rem;
    }
    .sub_text>.paragraph2{
        margin:1.8rem 0 3rem;
    }
    .space{
        margin:0 3rem;
    }
    .underBar{
        padding-top:1.5rem;
    }
    .sub_object1{
        padding:1.4rem 0 1rem;
        top:0;
        color:#141514;
        position:absolute;
        font-size:0.8rem;
        border-bottom:1px solid #5d555180;
        display:inline-block;
        width:50%;
        left:0;
        z-index: 1;
        cursor:pointer;
        transition:all 0.5s;
        border-right:1px solid #efefef;

    }
    .sub_object2{
        background-color:#efefef;
        padding:1.4rem 0 1rem;
        top:0;
        color:#5d555180;
        position:absolute;
        font-size:0.8rem;
        border-bottom:1px solid #5d555180;
        display:inline-block;
        width:50%;
        right:0;
        cursor:pointer;
        transition:all 0.5s;
    }
    .sub_object_underbar{
        position:absolute;
        transition:all 0.5s;
        width:50%;
        left:0;
        display:inline-block;
        margin-top:3.2rem;
        top:0;
        position:absolute;
        border-bottom:3px solid #92d081;
        z-index:2 ;
    }
    .fIntro{
        position:relative;
        width:100%;
        height:43rem;
        overflow: hidden;
    }
    .contentBox{
        position:relative;
        width:93%;
        height:64rem;
        top:0px;
        left:50%;
        overflow:hidden;
        border-radius: 20px;
        transform:translate(-50%,0);
        background-color: #fff;
        text-align: center;
        margin-bottom:3rem;
    }
    .contentBox2{
        position:relative;
        width:93%;
        top:0px;
        left:50%;
        overflow:hidden;
        border-radius: 20px;
        transform:translate(-50%,0);
        background-color: #fff;
        text-align: center;
        margin-bottom:3rem;

        
    }
    .contentBox3{
        position:relative;
        width:93%;
        top:0px;
        left:50%;
        overflow:hidden;
        border-radius: 20px;
        transform:translate(-50%,0);
        background-color: #fff;
        text-align: center;
        margin-bottom:3rem;

    }

    .contentTitle{
        color:#92d081;
        font-size: 1.3rem;
        margin-top:2rem;
        font-family: ChosunCentennial;
    }
    .contentSubTitle{
        font-size: 1.0rem;
        padding-bottom:2rem;
        border-bottom:1px solid #92d081;
        width:86.49%;
        margin:2rem auto 2rem;
    }
    .contentText{
        width:93%;
        margin-top:2rem;
        font-size:0.8rem;
        position:relative;
        left:50%;
        transform: translate(-50%,0);
        line-height: 1.1rem;
        text-align:center;
        margin-bottom:2rem;

    }

   
    .mapBox1{
        position:absolute;
        overflow:hidden;
        top:5rem;
        border-radius:20px;
        width:92%;
        height:500px;
        left:50%;
        transform:translate(-50%,0);
        z-index: 0;
        border:2px solid #14151420;
    }
    .mapBox2{
        position:absolute;
        overflow:hidden;
        top:5rem;
        border-radius:20px;
        width:92%;
        height:500px;
        left:50%;
        transform:translate(-50%,0);
        z-index: -1;
    }
    .iframe{
        position:relative;
        z-index:0;
    }
    .farmimg1{
        position:absolute;
        z-index: -2;
        right:0;
        bottom:0;

    }
    .filter{
        position:absolute;
        z-index: 1;
        width:100%;
        height:100%;
        background-color: #141514;
        opacity: 30%;

    }
    .fSub_title{
        position:absolute;
        font-family:ChosunCentennial ;
        font-size:2.2rem;
        left:50%;
        transform:translate(-50%,0);
        top:33%;
        color:#fff;
    }
    .box4{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,0);
        width:4rem;
        height:1px;
        opacity: 50%;
        background-color: #fff;
        z-index: 2;
    }
    .fParagraph{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        top:58%;
        color:#fff;
        width:400px;
        text-align: center;
        opacity: 80%;
        font-size: 0.9rem;

    }
    .fParagraph2{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        top:65%;
        color:#fff;
        width:400px;
        text-align: center;
        opacity: 80%;
        font-size: 0.9rem;
        
    }
    .farm2{
        position:absolute;
        width:93%;
        height:20rem;
        left:50%;
        overflow:hidden;
        border-radius: 20px;
        transform:translate(-50%,0);
        top:23rem;
    }
    .farmimg2{
        position:absolute;
        z-index: -2;
        right:0;
    
    }
    .fParagraph3{
        color:#92d081;
        text-align: center;
        opacity: 80%;

        margin:3rem 0 1.8rem;
        font-family:ChosunCentennial ;
        font-size: 2.2rem;
        
    }
    .farmSocial{
        position:relative;
    }
    .farm3{
        
        position:absolute;
        width:93%;
        height:20rem;
        left:50%;
        overflow:hidden;
        border-radius: 20px;
        transform:translate(-50%,0);
        
    }
    .social{
        position:absolute;
        right:0%;
        z-index: 2;
    }
    .fParagraph4{
        color:#5d5551;
        position: absolute;
        z-index: 3;
        top:26.6rem;
        left:50%;
        transform:translate(-50%,0);
        width:500px;
        text-align: center;
    }
    .fParagraph5{
        color:#5d5551;
        position: absolute;
        z-index: 3;
        top:28.5rem;
        left:50%;
        transform:translate(-50%,0);
        width:500px;
        text-align: center;
        
    }
    .social_bottom{
        height:50%;
        width:100%;
        position:relative;
        top:28.5rem;
        opacity:90%;
    }
    .footer{
        background-color:#efefef;
        text-align: center;
        width:100%;
        height:400px;
        position:relative;
        z-index: 4;
        box-sizing: content-box;
        margin-top:100px;
    }
    .footerlogo{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        top:11%;
        width:250px;
    }
    .box5{
        width:1px;
        height:0.8rem;
        background-color:#141514;
        z-index: 3;
        color:#141514;
        display:inline-block;
        margin:0 0.2rem;
        position:relative;
        top:-4px;
        
    }
    .footerfont{
        width:90%;
        position:absolute;
        font-size:0.7rem;
        line-height: 1.3rem;
        top:45%;
        left:50%;
        transform:translate(-50%,0);
    }
    .menu{
        position:fixed;
        height:100vh;
        width:100%;
        overflow:hidden ;
        z-index:0;
        
    }
    .headWarp{
        position:relative;
        width:100%;
        z-index: 1;
    }
    .menuhead{
        height:4.0rem;
        background-color: #92d081;
        width:100%;
        position:absolute;
        box-shadow:0px 3px 3px rgba(20,21,20,0.2);
        z-index: 10;
        top:-4rem;
    }
    .mobile_button2{
        position:absolute;
        right:1.2rem;
        top:1.0rem;
        height:1.6rem;
        cursor:pointer;
    }
    .accordianWarp{
        width:100%;
        height:100vh;
        position:relative;
        z-index: 4;
        display:none;
        
    }
    .accordian{
        margin-top:4rem;
    }
    .menu2{
        display:none;
    }
    .menu1{
        display:inline-block;
        width:100%;
        min-height:3.0rem;
        line-height: 3.0rem;
        position:relative;
        color:#141514;
        cursor:pointer;
    }
    .menu4{
        display:inline-block;
        width:100%;
        min-height:2.3rem;
        line-height: 2.2rem;
        position:relative;
        color:#141514;
        cursor:pointer;
    }
    .menuBox{
        display:inline-block;
        width:100%;
        min-height:60px;
        background-color:#eee;
        line-height: 60px;
        border-top:1px solid #8e978e70;
        border-bottom:1px solid #8e978e70;
        text-indent:20px;
        position:relative;
        color:#141514;
    }
    .menuBottom{
        border-bottom:2px solid #8e978e70;
    }
    .menu2>a{
        position:relative;
        width:100%;
        height:2.5rem;
        background-color:#ecebe8;
        line-height: 2.5rem;
        font-size:0.8rem;
        text-indent:1rem;
        z-index: 10;
        display:inline-block;
        color:#141514;
    }
    .borderUp{
        border-top:1px solid;
        border-image:linear-gradient(to right,#c4c2bf00 0% , #c4c2bf30 25%, #c4c2bf40 50%, #c4c2bf30 75% ,#c4c2bf00 100%) 1;
    }
    .filter2{
        width:100%;
        height:164.5rem;/*JS로 높이 변경하기*/
        background-color: #141514;
        position: absolute;
        z-index:0;
        top:0;
        left:0;
        opacity:30%;
    }
    .size1{
        width:1rem;
        position:absolute;
        right:1rem;
        top:0.9rem;
        cursor:pointer;
        width:1.3rem;
   

    }
    .size2{
        width:0.8rem;
        position:relative;
        left:0.2rem;
        top:-0.8rem;
        cursor:pointer;
  
    }
    .size3{
        width:1rem;
        position:absolute;
        right:1rem;
        top:0.9rem;
        cursor:pointer;
        width:1.3rem;

    }
    .farminfo1{
        width:100%;
        position:absolute;
        top:33rem;
        z-index: 1;
    

    }
    .farminfo2{
        width:100%;
        position:absolute;
        top:33rem;
        z-index: 0;

    }
    .information1{
        position:relative;
        width:92%;
        left:50%;
        transform:translate(-50%,0);
        

    }
    .information2{
        position:relative;
        width:92%;
        left:50%;
        transform:translate(-50%,0);
        

    }
    tr{
        vertical-align: middle;  
    }
    td{
        vertical-align: middle;  
    }
    td:first-child{
        width:30%;
        background-color: #efefef;
        height:1.6rem;
        line-height:1.6rem;
        font-size: 0.8rem;
        text-align: center;
        border-top:1px solid #ddd;
        border-right:1px solid #ddd;
        
    }
    tr:last-child{
       
        border-bottom:1px solid #ddd;
    }
    td:nth-child(2){
        width:70%;
        height:1.6rem;
        line-height:1.6rem;
        font-size:0.7rem;
        padding:0.1rem 0 0.1rem 1rem;
        border-top:1px solid #ddd;
        background-color: #fff;
    }
    tr:nth-child(4)>td:first-child{
        line-height: 1.1rem;
    }
    tr:nth-child(4)>td:last-child{
        line-height:1.1rem;
        padding:0.5rem 0 0.5rem 1rem;
          
    }
    tr:nth-child(5)>td:last-child{
        line-height:1.1rem;
        padding:0.5rem 0 0.5rem 1rem;
        line-height:1.1rem;
          
    }
    .list:first-child{
        padding-bottom:2rem;
        border-bottom:1px solid #92d081;
        width:93%;
        margin:2rem auto 2rem;
    }
    .list:last-child{
        position:relative;
    }
    
    .list>li{
        margin: 7px 0;
    }
    .box6{
        position:absolute;
        top:0.55rem;
        right:10.5rem;
        z-index: 2;
        width:1rem;
        height:1px;
        background-color:#14151440;

    }
    .list_text{
        margin-bottom:20px;
    }
    .box7{
        position:absolute;
        top:0.55rem;
        left:10.5rem;
        z-index: 2;
        width:1rem;
        height:1px;
        background-color:#14151440;

    }
    .table2{
        width:93%;
        margin:20px 0;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
    }
    .intro_Text>p{
        width:93%;
        position:relative;
        left:50%;
        transform:translate(-50%,0);

    }
    .intro_Text_1{
        margin-bottom:40px;
    }
    .intro_Text_2{
        margin:40px 0;
    }
}   